<div class="background-image">
<form #ref="ngForm" (ngSubmit)="submitForm(ref.value)">
  <h2>Submit Information</h2>
  <div class="form-group">
    <label for="username">Name:</label>
    <input type="text" id="username" [(ngModel)]="model.name" name="username" class="form-control" placeholder="Enter your username">
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="model.email" name="email" class="form-control" placeholder="Enter your email">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<h2>Data:</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button type="submit" class="btn btn-danger" (click)="sendEmail(user.email,user.name)">Email</button>
      </td>
    </tr>
  </tbody>
</table>

</div>